<div class="d-flex">
    <%= simple_form_for tournament do |f| %>
      <%= f.input :pairing_system, collection: Tournament.pairing_systems.keys, include_blank: false %>
      <%= f.input :number_of_winners %>
      <%= f.button :submit,
        class: "btn btn-primary w-100",
        id: "tourney-btn",
        input_html: { data: { controller: 'start-tournament' } } %>
      <%= f.hidden_field :event, value: event.id %>
    <% end %>
</div>
