<div class="">
  <h3 class="text-center text-info mb-0"><%= event.location %></h3>
  <p class="text-center text-info"><%= event.date.strftime('%B %e, %Y') %></p>
  <%= simple_form_for tournament,
    defaults: {
      label_html: {class: "text-info"},
      input_html: {class: "text-primary"},
      wrapper_html: {class: ""}
    }  do |f| %>

    <div class="mb-4">
      <%= f.input :pairing_system, collection: Tournament.pairing_systems.keys, include_blank: false %>
      <%= f.input :number_of_winners %>
    </div>

    <div class="d-flex justify-content-around text-info mb-3">
      <p><i class="fa-solid fa-user px-1"></i> <%= event.number_of_players || "0" %> players</p>
      <p><i class="fa-solid fa-rotate px-1"></i> <%= event.rounds %> games</p>
    </div>

    <%= f.button :submit,
      class: "btn btn-info w-100 modal-button",
      # id: "tourney-btn",
      input_html: { data: { controller: 'start-tournament' } } %>
    <%= f.hidden_field :event, value: event.id %>

  <% end %>
</div>
