<div class="scoreboard-player-card">
  <div class="first-row">
    <div id="ranking">
      <h4><%= ranking %></h4>
    </div>

    <div id="rating">
      <p class="scoreboard-p">Rating:</p>
      <h5><%= player.rating %></h5>
    </div>
  </div>

  <div id="player-avatar">
    <% if player.photo.attached? %>
      <%= cl_image_tag player.photo.key,
        transformation: [
          {gravity: "face", height: 128, width: 128, crop: "crop"},
          {radius: "max"},
          {width: 128, crop: "scale"}
        ] %>
    <% else %>
      <%= image_tag "user-astronaut-solid.svg" %>
    <% end %>
  </div>

  <div id="player-name">
    <p><strong><%= player.name %></strong></p>
  </div>
  <div id="current-ranking">
  <%# Tried a cleaner logic but it didn't work, may want to refactor later %>
    <p>
      <%= player.win_count == player.win_count.to_i ? player.win_count.round : player.win_count %>
      -
      <%= player.loss_count == player.loss_count.to_i ? player.loss_count.round : player.loss_count %>
    </p>
    <div>&nbsp;</div>
    <p class="spread">(<% if player.spread.positive? %>
        +<%= player.spread %>
      <% else %>
        <%= player.spread %>
      <% end %>
    )</p>
  </div>


  <%# TODO need to calculate last game logic %>
  <div id="last-game">
    <p class="scoreboard-p"><strong>Last</strong> game loading...</p>
  </div>

  <%# TODO need to calculate last game logic %>
  <div id="next-game">
    <p><strong>Next</strong> game loading...</p>
  </div>
</div>
