<div class="col-12 col-sm-6 col-md-4 col-lg-2 p-1">
  <% if ranking <= player.tournament.number_of_winners %>
    <div class="scoreboard-player-card money">
  <% else %>
    <div class="scoreboard-player-card">
  <% end %>
  <% ranking = ranking.ordinalize %>
    <div class="first-row">
      <div><h4><%= ranking %></h4></div>
      <div>
        <h4><%= player.new_rating %></h4>
        <%= player.rating %>
        <% if player.new_rating %>
          <%= "+" if player.new_rating - player.rating >= 0 %><%= player.new_rating - player.rating %>
        <% end %>
      </div>
    </div>

    <div class="text-center mb-2">
      <% if player.photo.attached? %>
        <%= cl_image_tag player.photo.key, class: "player-avatar",
          transformation: [
            {gravity: "face", height: 128, width: 128, crop: "crop"},
            # {radius: "max"},
            {width: 128, crop: "scale"}
          ] %>
      <% else %>
        <%= image_tag "user-astronaut-solid.svg", class: "player-avatar" %>
      <% end %>
    </div>

    <div class="player-name">
      <p><strong><%= player.name %></strong></p>
    </div>

    <div class="player-bottom-half-info">
      <div class="score-line">
      <%# Tried a cleaner logic but it didn't work, may want to refactor later %>
        <p>
          <%= player.win_count == player.win_count.to_i ? player.win_count.round : player.win_count %>
          -
          <%= player.loss_count == player.loss_count.to_i ? player.loss_count.round : player.loss_count %>
        </p>
        <div>&nbsp;</div>
        <p class="spread"><% if player.spread.positive? %>
            +<%= player.spread %>
          <% else %>
            <%= player.spread %>
          <% end %>
        </p>
      </div>

      <div class="flex-column next-last">
        <div class="gap-2 last-game-info">
          <% player_round = (player.win_count + player.loss_count).round.to_i %>

          <%# Player's last game score %>
          <% @tournament.matchups.each do |matchup| %>
            <% if matchup[:round_number] == player_round%>
              <% if matchup.player1 == player %>
                <strong>Last:</strong>
                <%= matchup[:player1_score] %>
                -
              <% elsif matchup.player2 == player %>
                <strong>Last:</strong>
                <%= matchup[:player2_score] %>
                -
              <% end %>
            <% end %>
          <% end %>

          <% @tournament.matchups.each do |matchup| %>
            <% if matchup[:round_number] == player_round %>
              <% if matchup.player1 == player %>
                <%= matchup[:player2_score] %>
              <% elsif matchup.player2 == player %>
                <%= matchup[:player1_score] %>
              <% end %>
            <% end %>
          <% end %>

          <%# Last game opponent's name%>
          <% @tournament.matchups.each do |matchup| %>
            <% if matchup[:round_number] == player_round %>
              <% if matchup.player1 == player %>
                <% opponent = Player.find(matchup.player2.id) %>
                vs. <%= opponent.name %>
                <% if opponent.photo.attached? %>
                  <%= cl_image_tag opponent.photo.key, class: "opponent-avatar",
                    transformation: [
                      {gravity: "face", height: 128, width: 128, crop: "crop"},
                      # {radius: "max"},
                      {width: 48, crop: "scale"}
                    ] %>
                <% else %>
                  <%= image_tag "user-astronaut-solid.svg", class: "opponent-avatar" %>
                <% end %>
              <% elsif matchup.player2 == player %>
                <% opponent = Player.find(matchup.player1.id) %>
                vs. <%= opponent.name %>
                <% if opponent.photo.attached? %>
                  <%= cl_image_tag opponent.photo.key, class: "opponent-avatar",
                    transformation: [
                      {gravity: "face", height: 128, width: 128, crop: "crop"},
                      # {radius: "max"},
                      {width: 48, crop: "scale"}
                    ] %>
                <% else %>
                  <%= image_tag "user-astronaut-solid.svg", class: "opponent-avatar" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>



        </div>

        <%# Player's next game opponent%>
        <div class="next-game-info mt-auto">
            <% @tournament.matchups.each do |matchup| %>
              <% if matchup[:round_number] == player_round + 1 %>
                <% if matchup.player1 == player %>
                  <div class="next-game-text">
                    <strong>Next: </strong>
                    <div class="first-second-opponent">
                      <% if matchup.player2.name != "Bye" %>
                        <%= " 1st vs." %>
                      <% end %>
                      <% opponent = Player.find(matchup.player2.id) %>
                      <%= opponent.name %>
                    </div>
                  </div>
                  <% if opponent.photo.attached? %>
                    <%= cl_image_tag opponent.photo.key, class: "opponent-avatar",
                      transformation: [
                        {gravity: "face", height: 128, width: 128, crop: "crop"},
                        # {radius: "max"},
                        {width: 48, crop: "scale"}
                      ] %>
                  <% else %>
                    <%= image_tag "user-astronaut-solid.svg", class: "opponent-avatar" %>
                  <% end %>
                <% elsif matchup.player2 == player %>
                  <div class="next-game-text">
                    <strong>Next: </strong>
                    <div class="first-second-opponent">
                      <% if matchup.player1.name != "Bye" %>
                        <%= " 2nd vs."  %>
                      <% end %>
                      <% opponent = Player.find(matchup.player1.id) %>
                      <%= opponent.name %>
                    </div>
                  </div>
                  <% if opponent.photo.attached? %>
                    <%= cl_image_tag opponent.photo.key, class: "opponent-avatar",
                      transformation: [
                        {gravity: "face", height: 128, width: 128, crop: "crop"},
                        # {radius: "max"},
                        {width: 48, crop: "scale"}
                      ] %>
                  <% else %>
                    <%= image_tag "user-astronaut-solid.svg", class: "opponent-avatar" %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
