<div class="scoreboard-player-card">
  <div class="first-row">
    <div id="ranking">
      <p>1st</p>
    </div>

    <div id="rating">
      <p>Rating: <%= player.rating %></p>
    </div>
  </div>

  <div id="player-avatar">
    <% if player.photo.attached? %>
      <%= cl_image_tag player.photo.key %>
    <% else %>
      <%= image_tag "user-astronaut-solid.svg" %>
    <% end %>
  </div>

  <div id="player-name">
    <p><strong><%= player.name %></strong></p>
  </div>
  <div id="current-ranking">
  <%# Tried a cleaner logic but it didn't work, may want to refactor later %>
    <p>
      <% if player.win_count == player.win_count.to_i %>
        <%= player.win_count.round  %>
      <% else %>
        <%= player.win_count %>
      <% end %>
      -
      <% if player.loss_count == player.loss_count.to_i %>
        <%= player.loss_count.round  %>
      <% else %>
        <%= player.loss_count %>
      <% end %>
    </p>
    <div>&nbsp;</div>
    <p class="spread">(<% if player.spread.positive? %>
        +<%= player.spread %>
      <% else %>
        <%= player.spread %>
      <% end %>
    )</p>
  </div>


  <%# TODO need to calculate last game logic %>
  <div id="last-game">
    <p> Last game loading...</p>
  </div>

  <%# TODO need to calculate last game logic %>
  <div id="next-game">
    <p> Next game loading...</p>
  </div>
</div>
