<div class="container">
  <div class="pos-rel">
    <%= link_to "Back", tournament_path(@tournament),
      class: "btn btn-lg btn-primary mb-5 btn-upright back-btn" %>
  </div>
  <h4 class="tourney-manage">Manage</h4>
  <h1 class="tourney-main-manage"><%= @tournament.event.location %></h1>
  <%# <div class="d-flex justify-content-between mb-4"> %>
  <div class="" id="tourney-page">
    <%= simple_form_for @tournament,
      defaults: {
        label_html: {class: "text-primary border"},
        input_html: {class: "text-secondary border border-secondary form-rnd-corners input-white"}
      } do |f| %>
      <%= f.input :pairing_system, collection: Tournament.pairing_systems.keys, include_blank: false%>
      <%= f.input :number_of_winners %>
      <%= f.button :submit, class: "btn btn-primary w-100 btn-rnd-corners", input_html: { data: { controller: 'start-tournament' } } %>
    <% end %>
  </div>

  <h4 class="tourney-manage-2">Current players</h4>
  <div class="tbl-header mb-4">
    <table cellpadding="0" cellspacing="0">
      <thead class="border-bottom border-warning border-2">
        <tr class="bg-primary">
          <th class="th-left-round" style="width: 300px;">Name</th>
          <th>Rating</th>
          <th>Division</th>
          <th>Seed</th>
          <th>Ranking</th>
          <th class="th-right-round">Cross-tables ID</th>
        </tr>
      </thead>

      <tbody class="tbl-content">
        <% if @tournament.players.nil? || @tournament.players.empty? %>
          <div class="tourney-no-players">No players added yet in Pairwise</div>
        <% else %>
          <% @tournament.players.each do |player| %>
            <% unless player.name == "Bye" %>
              <tr class="text-primary table-text">
                <td class="d-flex gap-2 align-items-center text-left">
                  <% if player.photo.attached? %>
                    <%= cl_image_tag player.photo.key,
                      transformation: [
                        {gravity: "face", height: 48, width: 48, crop: "thumb"},
                        {radius: "max"},
                        {background: "#e6e9ef"}
                      ]
                    %>
                  <% else %>
                    <%= image_tag "user-astronaut-solid.svg", class: "matchup-avatar" %>
                  <% end %>
                  <%= player.name %>
                </td>
                <td class="text-center"><%= player.rating %></td>
                <td class="text-center"><%= player.division %></td>
                <td class="text-center"><%= player.seed %></td>
                <td class="text-center"><%= player.ranking %></td>
                <td class="text-center"><%= player.crosstables_id %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <h4 class="text-center text-primary">Add new player</h4>
  <div class="text-center">
    <%# TODO: Stimulus controller to reveal form %>
    <%# "unless 1 == 1" hides the Add Player button for now, until there's a modal form for it %>
    <%= link_to "Add new player", "#", class: "btn btn-primary btn-rnd-corners" unless 1 == 1 %>
  </div>
  <div class="mb-5">
    <%# TODO: When making the Add Players route, replace this link %>
    <%# <p class="tourney-player">Add a player:</p> %>
    <div class="d-flex justify-content-center">
      <%= simple_form_for [@tournament, @player],
        html: {class: "col-6 p-2"},
        defaults: {
          label_html: { class: "text-primary border" },
          input_html: { class: "text-secondary border border-secondary form-rnd-corners input-white" }
        } do |f|
        %>
        <div class="d-flex justify-content-center ">
          <div class="w-100 justify-content-center"><%= f.input :name %></div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="col-3"><%= f.input :rating %></div>
          <div class="col-3"><%= f.input :division %></div>
          <div class="col-3"><%= f.input :crosstables_id, label: "Crosstables ID" %></div>
        </div>
        <div class="text-center">
          <%= f.submit "Save player", class: "btn btn-primary btn-rnd-corners" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Delete tournament", tournament_path(@tournament),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
      class: "btn btn-danger mb-5 btn-rnd-corners" %>
  </div>
</div>
