<% @events.each do |event| %>
  <h3><%= event.location %></h3>
  <p><%= event.date %></p>
  <p><%= event.rounds %> games</p>
  <p><%= event.number_of_players %> players</p>
  <%= simple_form_for tournament do |f| %>
    <%= f.input %>
<% end %>
