<div class="container d-flex flex-wrap justify-content-around">
  <% @events.each do |event| %>
  <%# event-card class does nothing now, but should be created in our CSS %>
    <div class="col-4 mb-5 event-card">
      <h4><%= event.location %></h4>
      <p><%= event.date %></p>
      <p><%= event.rounds %> games</p>
      <p><%= event.number_of_players || "0" %> players</p>
      <%= render "form", tournament: @tournament, event: event %>
    </div>
  <% end %>
</div>
