<div class="container scoreboard-main">
  <h1 class="text-center">Scoreboard</h1>
  <h4 class="text-center"><%= @tournament.event.location %> Championship</h4>


  <div class="scoreboard">
     <% @tournament.players.each do |player| %>
        <div class="scoreboard-player-card">
            <div class="first-row">
              <div id="ranking">
                <p>1st</p>
              </div>

              <div id="rating">
                <p>Rating: <%= player.rating %></p>
              </div>
            </div>

            <div id="player-avatar">
              <%= image_tag "user-astronaut-solid.svg"%>
            </div>

            <div id="player-name">
              <p><strong><%= player.name %></strong></p>
            </div>
            <div id="current-ranking">
              <p><%= player.win_count %> wins</p>
            </div>

            <%# TODO need to calculate last game logic %>
            <div id="last-game">
              <p> Last game loading...</p>
            </div>

            <%# TODO need to calculate last game logic %>
            <div id="next-game">
              <p> Next game loading...</p>
            </div>
        </div>
      <% end %>
  </div>
  <div id="scoreboard-back-button">
    <%= link_to tournament_path, class: "text-decoration-none" do %>
      <div class="tourney-btn tourney-btn-sm text-center">
        <p><i class="fa-solid fa-angle-left"></i>BACK</p>
      </div>
    <% end %>
  </div>
</div>
