<div class="container scoreboard-main">

  <div class="tourn-headers mb-1">
    <%# <h4>Scoreboard</h4> %>
    <span>
      <h4><% (1..@tournament.event.divisions).each do |division| %>
        Division <%= division %>
      <% end %>
      Round 1</h4>
      <div class="pos-rel">
        <%= link_to "Back", tournament_path(@tournament),
        class: "btn btn-lg btn-primary mb-5 btn-topright back-btn" %>
      </div>
    </span>
    <%# <h1><%= @tournament.event.location></h1> %>
    <%# <h4><%= @tournament.event.date.strftime('%B %e, %Y')></h4>> %>
  </div>

  <% @players.each do |div, players| %>
    <%# <h2 class="scoreboard-division">Division <%= div %></h2> %>
    <div class="scoreboard">
      <% players.each_with_index do |player, index| %>
        <%= render 'player_card', player: player, ranking: index + 1 %>
      <% end %>
    </div>
  <% end %>
</div>
