<div class="container">
  <br><br>

  <div class="tourn-headers mb-5">
    <h4>PairWise Tournament</h4>
    <h1><%= @tournament.event.location %></h1>
    <h4><%= @tournament.event.date.strftime('%B %e, %Y') %></h4>
  </div>

  <div class="tourney-secondary">
    <h3 class="tourney-round">Round <%= @current_round %> of <%= @tournament.event.rounds %></h3>
  </div>
  <div class="tourney-links">
    <%= link_to scoreboard_path(@tournament), class: "text-decoration-none" do %>
      <div class="tourney-btn tourney-btn-lg text-center">
        <i class="fa-solid fa-ranking-star"></i>
        <p>Scoreboard</p>
      </div>
    <% end %>

    <%= link_to tournament_matchups_path(@tournament), class: "text-decoration-none" do %>
      <div class="tourney-btn tourney-btn-lg text-center">
        <i class="fa-solid fa-arrows-rotate"></i>
        <p>Pairings</p>
      </div>
    <% end %>
  </div>

  <% if @tournament.user == current_user %>
    <div class="d-flex justify-content-center">
      <%= link_to edit_tournament_path(@tournament), class: "text-decoration-none" do %>
        <div class="tourney-btn tourney-btn-sm text-center">
          <i class="fa-solid fa-gear"></i>
          <p>Manage</p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="tourney-info">
    <div class="d-flex justify-content-around mb-3">
      <div>
        <p class="tourney-headings">Players</p>
        <p><%= @tournament.players.where.not(name: "Bye").count %></p>
      </div>
      <div>
        <p class="tourney-headings">Winners</p>
        <p><%= @tournament.number_of_winners %></p>
      </div>
      <div>
        <p class="tourney-headings">Rounds</p>
        <p><%= @tournament.event.rounds %></p>
      </div>
      <div>
        <p class="tourney-headings">Pairing</p>
        <p><%= @tournament.pairing_system %></p>
      </div>
    </div>
    <p class="text-center mb-1 text-secondary">
      <%= link_to "Contact the director", "mailto:#{@tournament.user.email}",
        class: "text-decoration-none btn btn-outline-secondary btn-sm btn-rnd-corners contact-dir" %>
    </p>
  </div>

</div>
