<div class="container">

  <%# <div class="mb-3 border-bottom border-3"> %>
    <%# <h4>Director: <%= @tournament.user.email</h4> %>
    <%# <p>Date: <%= @tournament.event.date.strftime('%B %e, %Y')</p> %>
    <%# <p>Number of rounds: <%= @tournament.event.rounds %></p>
    <%# <p>Number of winners: %>
    <%# <%= @tournament.number_of_winners.nil? ? "unknown" : @tournament.number_of_winners %>

  <h1 class="mb-3 tourney-main"><%= @tournament.event.location %></h1>
  <div class="tourney-secondary">
    <h3>Round ? of <%= @tournament.event.rounds %></h3>
    <p>
      <%= @tournament.event.date.strftime('%B %e, %Y') || @tournament.date.strftime('%B %e, %Y') %>
    </p>
  </div>

  <div class="tourney-links">
    <%= link_to event_scoreboard_path, class: "text-decoration-none" do %>
      <div class="tourney-btn tourney-btn-lg text-center">
        <i class="fa-solid fa-ranking-star"></i>
        <p>Scoreboard</p>
      </div>
    <% end %>

    <%= link_to tournament_matchups_path(@tournament), class: "text-decoration-none" do %>
      <div class="tourney-btn tourney-btn-lg text-center">
        <i class="fa-solid fa-arrows-rotate"></i>
        <p>Pairings</p>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center">
    <%= link_to "#", class: "text-decoration-none" do %>
      <div class="tourney-btn tourney-btn-sm text-center">
        <i class="fa-solid fa-gear"></i>
        <p>Manage</p>
      </div>
    <% end %>
  </div>

  <div class="tourney-info">
    <div>
      <p>Players</p>
      <p><%= @tournament.players.count %></p>
    </div>
    <div>
      <p>Rounds</p>
      <p><%= @tournament.event.rounds %></p>
    </div>
    <div>
      <p>Pairing</p>
      <p><%= @tournament.pairing_system %></p>
    </div>
  </div>

  <div class="mb-3 border-bottom border-3">
    <p>Players</p>
    <ul>
      <% if @tournament.players.nil? %>
        <div>No players added yet in Pairwise</div>
      <% else %>
        <% @tournament.players.each do |player| %>
          <li><%= player.name %></li>
        <% end %>
      <% end %>
    </ul>
    <% if @tournament.user == current_user %>
      <%# TODO: When making the Add Players route, replace this link %>
      <p>Add a player:</p>
      <%= simple_form_for [@tournament, @player] do |f| %>
        <%= f.input :name %>
        <%= f.input :rating %>
        <%= f.input :division %>
        <%= f.input :seed %>
        <%= f.input :ranking %>
        <%= f.input :crosstables_id, label: "Crosstables ID" %>
        <%= f.submit "Add player", class: "btn btn-sm btn-primary" %>
      <% end %>
    <% end %>
  </div>

  <%# TODO: Make this into a partial.
            When the score is updated, the updated score ends up going to the
            bottom. That will need to be fixed. Maybe it's desirable to push
            "already done" scores to the end, but it's unintuitive to the user.
            The update could also be handled directly from the tournament show
            page, but that might get tricky.
            https://kitt.lewagon.com/knowledge/tutorials/inline_edit
  %>
  <div class="border">
    <p>Rounds</p>
    <ul class="">
      <% @tournament.matchups.each do |matchup| %>
        <li class="">
          Round <%= matchup.round_number %>:
          <%= matchup.player1.name %>
          (<%= matchup.player1_score.nil? ? "0" : matchup.player1_score %>) :
          <%= matchup.player2.name %>
          (<%= matchup.player2_score.nil? ? "0" : matchup.player2_score %>)

          <% round_not_started = matchup.player1_score.nil? && matchup.player2_score.nil? %>
          <% if @tournament.user == current_user %>
            <%= link_to "Set score", set_score_path(matchup),
              class: "btn btn-sm btn-outline-success" %>

            <%# TODO: When making the Edit Pairing route, replace this link %>
            <% if round_not_started %>
              <%= link_to "Edit pairing", "#",
                class: "btn btn-sm btn-outline-danger" %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>



</div>
