<h1><%= @tournament.location %></h1>
<h3>Director: <%= @tournament.user.email %></h3>
<h4>Date: <%= @tournament.date.strftime('%B %e, %Y') %></h4>
<p>Number of rounds: <%= @tournament.rounds %></p>
<p>Number of winners:
  <%= @tournament.number_of_winners.nil? ? "unknown" : @tournament.number_of_winners %>
</p>
<p>Pairing system: <%= @tournament.pairing_system.capitalize %></p>
