<div class="homepage-banner">
  <%# <%= image_tag("homepage-banner.jpg", class: "home-banner-img") %>
  <div class="homepage-container">
      <h1><strong>PairWise</strong></h1>
      <%= link_to "Start Now", tournaments_path, class: "btn-small start-now-btn" %>
      <div class="homepage-text">
        <p><em>"One small step for a scrabbler, one giant leap for the scrabble world"</em></p>
      </div>

    <div class="container homepage-icons">
      <div class="first-icon">
        <%= image_tag 'easy-icon.png', class: "easy-icon" %>
        <p> EASY-TO-USE INTERFACE </p>
      </div>
      <div class="second-icon">
        <%= image_tag 'powerful-icon.png', class: "powerful-icon" %>
        <p> POWERFUL PAIRING ALGORITHM </p>
      </div>
      <div class="third-icon">
        <%= image_tag 'aesthetic-icon.png', class: "aesthetic-icon" %>
        <p> AESTHETIC DESIGN </p>
      </div>
    </div>

  </div>

</div>
