<div class="container justify-content-center col-12">
  <p class="text-center text-info border-bottom border-info py-1">
    Round <%= matchup.round_number %>
  </p>
  <%= simple_form_for matchup, defaults: {
      label_html: { class: "col-8 text-info" },
      input_html: { class: "text-primary form-rnd-corners input-white" },
      wrapper_html: { class: "d-flex" },
    } do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs" id="pairings-form">
    <%= f.input :player1_score, label: "#{matchup.player1.name}:",
                required: false %>
    <%= f.input :player2_score, label: "#{matchup.player2.name}:",
                required: false %>
    </div>

    <div class="text-center">
      <%= f.submit "Submit score", class: "btn btn-info modal-button" %>
    </div>
  <% end %>
</div>
