<div class="p-1 col-12 col-sm-6 col-md-4 col-lg-3">
  <% if matchup.done %>
    <div class="card matchup matchup-done border-secondary">
  <% else %>
    <div class="card matchup border-secondary">
  <% end %>
    <p class="text-center border-bottom border-secondary text-primary py-1">
      Round <%= matchup.round_number %>
    </p>

    <div class="mb-1">
      <div class="mb-1 d-flex align-items-center gap-2" id="matchup-player">
        <% if matchup.player1.photo.attached? %>
          <%= cl_image_tag matchup.player1.photo.key, class: "matchup-avatar",
            transformation: [
              {gravity: "face", height: 48, width: 48, crop: "thumb"},
              {radius: "max"},
            ]
          %>
        <% else %>
          <%= image_tag "user-astronaut-solid.svg", class: "matchup-avatar" %>
        <% end %>
        <div class="text-secondary">
          <span class="text-span"><%= matchup.player1.name %></span>
          <span class="text-span">(<%= matchup.player1_score || 0 %>)</span>
        </div>
      </div>
      <div class="mb-2 d-flex align-items-center gap-2">
        <% if matchup.player2.photo.attached? %>
          <%= cl_image_tag matchup.player2.photo.key, class: "matchup-avatar",
            transformation: [
              {gravity: "face", height: 48, width: 48, crop: "thumb"},
              {radius: "max"},
            ]
          %>
        <% else %>
          <%= image_tag "user-astronaut-solid.svg", class: "matchup-avatar" %>
        <% end %>
        <div class="text-secondary">
          <span><%= matchup.player2.name %></span>
          <span>(<%= matchup.player2_score || 0 %>)</span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-around pb-1">
    <% if user_signed_in? %>
        <% if tournament.user == current_user || matchup.player1.crosstables_id == current_user.crosstables_id || matchup.player2.crosstables_id == current_user.crosstables_id %>
          <% if tournament.user == current_user || matchup.done == false %>%
            <div class="d-flex justify-content-around gap-2" data-controller="matchups">
              <div>
                <a class="btn btn-sm btn-outline-primary" id="score-modal-btn"
                data-action="click->matchups#showForm">
                  <%= matchup.done ? "Edit score" : "Set score" %>
                </a>
              </div>

              <div class="modal" data-matchups-target="modal">
                <div class="score-modal-content">
                  <div class="d-flex justify-content-right">
                    <button class="close-btn d-flex justify-content-center align-items-center"
                      data-action="click->matchups#closeForm">&times;</button>
                    </div>
                  <div class="d-flex justify-content-center">
                    <%= render "input_score", matchup: matchup %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% unless matchup.done || tournament.user != current_user %>
            <%# <%= link_to "Edit pairing", "#", class: "btn btn-sm btn-outline-danger" %>
            <div class="d-flex justify-content-around gap-2" data-controller="edit-matchups">
              <div>
                <a class="btn btn-sm btn-outline-danger" id="edit-modal-btn"
                data-action="click->edit-matchups#showForm">
                  <%= "Edit pairing" %>
                </a>
              </div>

              <div class="modal" data-edit-matchups-target="modal">
                <div class="edit-modal-content">
                  <div class="d-flex justify-content-right">
                    <button class="close-btn d-flex justify-content-center align-items-center"
                      data-action="click->edit-matchups#closeForm">&times;</button>
                  </div>
                  <div class="d-flex justify-content-center">
                    <%= render "edit_matchup", matchup: matchup %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
