<div class="p-1 col-3">
  <div class="card rounded py-3 px-4 border-light">
    <p class="text-center border-bottom border-light">
      Matchup <%= tournament.matchups.find_index(matchup) + 1 %>
    </p>

    <div>
      <span><%= matchup.player1.name %></span>
      <span>(<%= matchup.player1_score || 0 %>)</span>
    </div>
    <div>
      <span><%= matchup.player2.name %></span>
      <span>(<%= matchup.player2_score || 0 %>)</span>
    </div>
  </div>
</div>
