<div class="container justify-content-center col-12">
  <%= form_tag generate_matchups_path(tournament), method: :post, defaults: {
        label_html: { class: "col-8 text-info" },
        input_html: { class: "text-primary form-rnd-corners input-white" },
        wrapper_html: { class: "d-flex" },
      } do %>
    <%= hidden_field_tag :id, tournament.id %>
    <%= hidden_field_tag :division, division %>
    <div class="form-inputs">
      <div class="d-flex justify-content-evenly">
        <%= select_tag :round, options_for_select(@rounds_to_display) %>
      </div>
      <br>
      <%= submit_tag "Generate Pairings", class: "btn btn-secondary w-100 text-center btn-rnd-corners" %>
    </div>
  <% end %>
</div>
