<div class="container">
  <div class="pos-rel">
    <%= link_to "Back", tournament_path(@this_tournament),
      class: "btn btn-lg btn-primary mb-5 btn-topright back-btn" %>
  </div>

  <br><br>

  <div class="tourn-headers mb-5">
    <h4>Pairings</h4>
    <h1><%= @this_tournament.event.location %></h1>
    <h4><%= @this_tournament.event.date.strftime('%B %e, %Y') %></h4>
  </div>

  <% if Player.where(tournament: @this_tournament, crosstables_id: current_user.crosstables_id).exists? %>
    <div class="mb-5 text-primary">
      <h2 class="scoreboard-division border-bottom border-secondary">Your Pairings</h2>
      <% @matchups.each do |div, matchups| %>
        <div class="d-flex flex-wrap mb-5">
          <% matchups.each do |matchup| %>
            <% if matchup.player1.crosstables_id == current_user.crosstables_id || matchup.player2.crosstables_id == current_user.crosstables_id %>
              <%= render 'matchup', matchup: matchup, tournament: @this_tournament  %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <h2 class="scoreboard-division border-bottom border-secondary">All Pairings</h2>
    </div>
  <% end %>

  <div class="mb-5 text-primary">
    <% @matchups.each do |div, matchups| %>
      <h2 class="scoreboard-division">Division <%= div %></h2>
      <div class="d-flex flex-wrap mb-5">
        <% matchups.each do |matchup| %>
          <%= render 'matchup', matchup: matchup, tournament: @this_tournament  %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
